<div
  class="relative w-12 h-12 rounded-full border-4 flex items-center justify-center {{
    classColor
  }} {{ classPosition }}"
>
  @if (classAnimation) {
  <span
    class="{{
      classAnimation
    }} absolute inline-flex h-full w-full rounded-full {{
      classColor
    }} opacity-75"
  ></span>
  }
  {{ simbol }}
  <!-- @if (description) {
    <span class="absolute w-20 text-xs font-normal text-center right-[-1rem] {{ classDescription }}">
      {{ description }}
    </span>
  } -->
</div>
