<div class="main-container">
  <div class="cover-image">
    <img src="/src/assets/hxh-capa.png" alt="Capa HunterxHunter">
  </div>
  <div class="main-content">
    <h1>Qual é a sua Categoria de Nen?</h1>
    <p>
      Este questionário ajuda você a descobrir sua categoria de Nen em Hunter x Hunter com base na sua personalidade. Cada resposta indica afinidade com uma das seis categorias: Reforço, Emissão, Manipulação, Transformação, Materialização ou Especialização, revelando seu estilo e habilidades potenciais no universo do anime.
    </p>
    <button>INICIAR QUIZ</button>
  </div>
</div>
<router-outlet />
