main {
  height: 100%;
  max-width: 720px;
  margin: auto;
}

.container {
  display: flex;
  gap: 1rem;
  background: #fff;
  border-radius: 1rem;
}

img {
  width: 100%;
  object-fit: cover;
}

.main-content {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}