<main>
  <div class="container">
    <div class="w-80">
      <img
        src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480,height=720/catalog/crunchyroll/cbb55a6382682bf71e91f685c6473c5a.jpg"
        alt="Capa HunterxHunter"
      />
    </div>
    <div class="flex flex-col p-4">
      <h1 class="text-2xl font-bold text-hxh-dark-blue">Qual é a sua Categoria de Nen?</h1>
      <p class="text-base text-hxh-dark-blue">
        Este questionário ajuda você a descobrir sua categoria de Nen em Hunter
        x Hunter com base na sua personalidade. Cada resposta indica afinidade
        com uma das seis categorias: Reforço, Emissão, Manipulação,
        Transformação, Materialização ou Especialização, revelando seu estilo e
        habilidades potenciais no universo do anime.
      </p>
      <button class="bg-hxh-blue p-4 rounded-full text-white">INICIAR QUIZ</button>
    </div>
  </div>
</main>
<router-outlet />
