<main class="max-w-4xl m-4">
  <div class="sm:flex bg-hxh-grayish-green-light rounded-3xl shadow-xl">
    <div class="overflow-hidden h-96 rounded-tl-2xl sm:rounded-bl-2xl sm:rounded-tl-2xl sm:h-auto">
      <img
        class="object-cover sm:max-w-80"
        src="assets/hxh-capa.png"
        alt="Capa HunterxHunter Quiz"
      />
    </div>

    <div class="max-w-xl flex flex-col p-4 gap-4">
      <h1 class="text-2xl font-bold text-center text-hxh-grayish-green-dark">
        Qual é a sua Categoria de Nen?
      </h1>
      <p class="text-base text-justify text-hxh-grayish-green-dark leading-relaxed">
        Este questionário ajuda você a descobrir sua categoria de Nen em Hunter
        x Hunter com base na sua personalidade. Cada resposta indica afinidade
        com uma das seis categorias:
        <b
          >Reforço, Emissão, Manipulação, Transformação, Materialização ou
          Especialização,</b
        >
        revelando seu estilo e habilidades potenciais no universo do anime.
      </p>
      <button
        (click)="onStart()"
        class="btn-primary"
      >
        INICIAR QUIZ
      </button>
    </div>
  </div>
</main>
