<main class="max-w-3xl m-4">
  <div class="sm:flex gap-4 bg-hxh-cream rounded-2xl shadow-2xl">
    <div class="rounded-tl-2xl rounded-bl-2xl overflow-hidden">
      <img
        class="max-w-80 object-cover"
        src="https://imgsrv.crunchyroll.com/cdn-cgi/image/fit=contain,format=auto,quality=85,width=480,height=720/catalog/crunchyroll/cbb55a6382682bf71e91f685c6473c5a.jpg"
        alt="Capa HunterxHunter"
      />
    </div>
    <div class="max-w-md flex flex-col p-4 gap-4">
      <h1 class="text-2xl font-bold text-hxh-dark-blue">
        Qual é a sua Categoria de Nen?
      </h1>
      <p class="text-base text-justify text-hxh-dark-blue">
        Este questionário ajuda você a descobrir sua categoria de Nen em Hunter
        x Hunter com base na sua personalidade. Cada resposta indica afinidade
        com uma das seis categorias:
        <b
          >Reforço, Emissão, Manipulação, Transformação, Materialização ou
          Especialização,</b
        >
        revelando seu estilo e habilidades potenciais no universo do anime.
      </p>
      <button class="bg-hxh-blue p-4 rounded-full text-white font-bold mt-auto">
        INICIAR QUIZ
      </button>
    </div>
  </div>
</main>
