<main class="max-w-3xl m-4">
  <div class="sm:flex gap-4 bg-hxh-cream rounded-2xl shadow-2xl">
    <div class="rounded-bl-2xl rounded-tl-2xl sm:h-auto">
      <img
        class="sm:max-w-80"
        src="assets/hxh-capa.png"
        alt="Capa HunterxHunter Quiz"
      />
    </div>

    <div class="max-w-md flex flex-col p-4 gap-4">
      <h1 class="text-2xl font-bold text-hxh-dark-blue">
        Qual é a sua Categoria de Nen?
      </h1>
      <p class="text-base text-justify text-hxh-dark-blue">
        Este questionário ajuda você a descobrir sua categoria de Nen em Hunter
        x Hunter com base na sua personalidade. Cada resposta indica afinidade
        com uma das seis categorias:
        <b
          >Reforço, Emissão, Manipulação, Transformação, Materialização ou
          Especialização,</b
        >
        revelando seu estilo e habilidades potenciais no universo do anime.
      </p>
      <a
        [routerLink]="['survey']"
        class="bg-hxh-blue p-4 rounded-full text-white text-center font-bold mt-auto hover:opacity-85"
      >
        INICIAR QUIZ
      </a>
    </div>
  </div>
</main>
