<main class="max-w-3xl m-4">
  <div class="h-4 rounded-full w-full bg-white dark:bg-neutral-600 mb-2">
    <div
      class="h-4 rounded-full bg-hxh-yellow"
      style="width: {{ (surveyIndex + 1) * 10 }}% ;"
    ></div>
  </div>
  <div class="sm:flex gap-4 bg-hxh-cream rounded-2xl shadow-2xl">
    <div class="w-full flex flex-col p-4">
      <ul>
        <app-question
          question="{{ surveyIndex + 1 }}. {{ currentQuestion.question }}"
        ></app-question>
        @for (item of currentQuestion.options; track $index) {
        <li
          (click)="onSelectAnswer(item.type)"
          class="mt-2 text-hxh-dark-blue bg-white rounded-2xl px-4 py-2 shadow-md hover:bg-hxh-blue hover:text-white"
        >
          {{ item.answer }}
        </li>
        }
      </ul>
      <div class="py-4">
        @if (finished) {
        <button
          (click)="onFinish()"
          class="bg-hxh-blue py-2 px-4 rounded-2xl text-white font-bold mt-auto disabled:opacity-50"
        >
          RESULTADO
        </button>
        }@else {
        <button
          (click)="onContinue()"
          class="bg-hxh-blue py-2 px-4 rounded-2xl text-white font-bold mt-auto disabled:opacity-50"
        >
          CONTINUAR
        </button>
        }
      </div>
    </div>
  </div>
</main>
