<main class="max-w-3xl m-4">
  <div class="sm:flex gap-4 bg-hxh-cream rounded-2xl shadow-2xl">
    <div class="flex flex-col p-4">
      <ul>
        <app-question
          question="{{ currentQuestion.question }}"
        ></app-question>
        @for (item of currentQuestion.options; track $index) {
        <li
          (click)="onSelectAnswer(item.type)"
          class="mt-2 text-hxh-dark-blue bg-white rounded-2xl px-4 py-2 shadow-md hover:bg-hxh-blue hover:text-white"
        >
          {{ item.answer }}
        </li>
        }
      </ul>
      <div class="py-4">
        <button
          (click)="onContinue()"
          class="bg-hxh-blue py-2 px-4 rounded-2xl text-white font-bold mt-auto hover:opacity-75"
        >
          CONTINUAR
        </button>
      </div>
    </div>
  </div>
</main>
