<div></div>
<app-nen-type
  simbol="強"
  classColor="bg-hxh-enhancement"
  class="mt-auto ml-auto mr-auto"
/>
<div></div>

<app-nen-type
  simbol="変"
  classColor="bg-hxh-transmutation"
  class="sm:ml-auto sm:mr-auto ml-auto"
/>
<div class="w-full"></div>
<app-nen-type
  simbol="操"
  classColor="bg-hxh-manipulation"
  class="sm:ml-auto sm:mr-auto"
/>

<app-nen-type
  simbol="具"
  classColor="bg-hxh-conjuration"
  class="sm:ml-auto sm:mr-auto ml-auto"
/>
<app-nen-type
  simbol="特"
  classColor="bg-hxh-specialization"
  class="mt-auto ml-auto mr-auto"
/>
<app-nen-type
  simbol="放"
  classColor="bg-hxh-emission"
  class="sm:ml-auto sm:mr-auto"
/>
