@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-hxh-blue p-4 rounded-full text-white text-center font-bold mt-auto hover:brightness-100;
  }
  .btn-secondary {
    @apply border-2 border-hxh-blue bg-white py-4 px-6 rounded-full text-hxh-blue font-bold hover:bg-hxh-blue hover:text-white;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #66BB6A;
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}