@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-hxh-blue py-2 px-4 rounded-full text-white text-center font-bold mt-auto hover:brightness-100;
  }
  .btn-secondary {
    @apply border-2 border-hxh-blue bg-white py-1 px-2 rounded-full text-hxh-blue font-bold hover:bg-hxh-blue hover:text-white;
  }
  .tooltip {
    @apply invisible absolute;
  } 
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #66BB6A;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}